/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --mainColor: #32315d;
    --secondaryColor: #8b8dd5;
    --fontColor: #727375;
    --successColor: #4BB543;
    --dangerColor: #BB2124;
}

.container{
    width: 90%;
    margin: auto;
}

/* NAV BAR */
.nav-bar{
    position: fixed;
    background-color: var(--mainColor);
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content-wraper{
    width: 50%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.navbar-logo{
    width: 180px;
    cursor: pointer;
}

.nav-bar-list{
    width: 75%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-list li{
    padding-left: 10px;
}

.nav-bar-list a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--secondaryColor);
    transition-property: color;
    transition-duration: 2s;
}

.nav-bar-list a:hover{
    color: white;
}

.fa-bars{
    color: var(--secondaryColor);
    /* display: none; */
    visibility: hidden;
    /* display: none; change icon display to inline-block to control its width */
    width: 100px;
    text-align: center; /* center icon within its width */
    cursor: pointer;
}

.dropdown-menu a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-transform: capitalize;
}

.dropdown-menu #dropdown-content{
    position: absolute;
    background-color: var(--secondaryColor);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    width: 100px;
    margin-left: 10px;
    display: none;
}


.dropdown-menu:hover #dropdown-content{
    /* display: block; */
}


@media (max-width: 991.98px) { /* tablets and smaller */
    .nav-bar-list{
        display: none;
    }

    .fa-bars{
        visibility: visible;
        /* display: block; */

    }

    .navbar-content-wraper{
        justify-content:space-between;
        width: 100%;

    }
 }

/* BLOGS */
.section-header{
    text-transform: capitalize;
    padding-top: 120px;
}

#blogs-section{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: left;
    margin-top: 20px;
}

.blog-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 20px ;
}
  
.blog-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
  
.blog-item .container {
    padding: 2px 16px;
}


.blog-img{
    width: 30%;
    display: block;
    margin: auto;
    padding: 10px;
}

.img-container{
    background-color: var(--secondaryColor);
    height: 150px;
    display: flex;
    justify-content: center; /* center image horizontally */
    align-items: center; /* center image vertically*/
}

.blog-title{
    margin-top: 10px;
    text-transform: capitalize;
}

.blog-title a{
    text-decoration: none;
    color: black;
}

.blog-title a:hover{
    text-decoration: underline;
}

.blog-date{
    font-size: 12px;
    color: var(--fontColor);
    text-decoration: underline;
}

.blog-description{
    margin-top: 5px;
    color: var(--fontColor);
}

.update-btn, .delete-btn{
    cursor: pointer;
    padding: 6px;
    margin: 10px 2px;
    color: white;
    border: none;
    border-radius: 6%;
    transition-property: height;
    transition: 0.3s;
    transition-duration: 1s;
}

.update-btn:hover, .delete-btn:hover{
    scale: .95;
}


.update-btn{
    background-color: var(--successColor);
}

.delete-btn{
    background-color: var(--dangerColor);
}

@media (min-width: 768px) and (max-width: 991.98px) { /* tablets */
    .blog-item{
        width: 45%; 
    }
}
@media (max-width: 767.98px) {  /* small and extra small devices*/
    .blog-item{
        width: 100%; 
    }
    .home-header{
        text-align: center;
    }

 }

 /* ADD BLOG FORM */
.add-blog-form{
    margin-top: 5px;
}
.add-blog-form .form-input{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#add-blog-btn{
    cursor: pointer;
    padding: 6px;
    margin: 10px 2px;
    color: white;
    border: none;
    background-color: var(--successColor);
    border-radius: 6%;
    text-transform: capitalize;
    width: 100px;
}


/* FOOTER */
.footer{
    background-color: var(--mainColor);
    margin-top: 50px;
}

.footer p{
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}



@media (max-width: 991.98px) { /* tablets and smaller */
   

}

/* SWEET ALERT */
.swal2-textarea{
display: block;
width: 393px;
margin: auto;
border: 1px solid gray;
min-height: 80px;
resize: none;
margin-bottom: 8px;
color: var(--fontColor);

}